@model IEnumerable<Book_My_Table.Models.Restaurant>

@{
    ViewData["Title"] = "Restaurants";
}

<h1>Restaurants</h1><br/><br />

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Enter your location: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <b><input type="submit" value="Search" class="btn btn-default" /></b>&emsp;|&emsp;
            <a asp-action="Index">Back to Full List</a>
        </p>
        @*@section Scripts
            {
                <script>
                $('form input').change(function() {
                $(this).closest('form').submit();
                });
                </script>
            }*@
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpeningTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClosingTime)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.RestaurantId">Edit</a>*@ 
                    <a asp-action="Details" asp-route-id="@item.RestaurantId">Details</a> 
                    @*<a asp-action="Delete" asp-route-id="@item.RestaurantId">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
